<table border="1">
  <% @companies.each do |company| %>
    <tr>
      <td><%= company.site%></td>
      <td><%= company.email.gsub("%20","") %></td>
      <td><%= company.phones.first.scan(/\d+/).join if company.phones.first %></td>
    </tr>
  <% end %>
</table>
