<p><strong>Здравствуйте!</strong></p>

<p>Предлагаем самые&nbsp;<u>актуальные базы Ваших потенциальных клиентов</u>.</p>

<p>Если Ваш&nbsp;<u>бизнес связан с продажами</u>, а менеджеры заняты активным поиском клиентов через интернет,&nbsp;<u>то наше предложение именно для Вас</u>!</p>

<p>Коротко о нашей работе:</p>

<ul>
  <li><u>Мы собираем информацию о компаниях</u>&nbsp;(название, сайт, телефон, email) из поисковой выдачи Яндекс, 2gis и Instagram, по интересующим Вас запросам.</li>
  <li>Приводим собранную информацию к удобному для работы виду (таблица Excel).</li>
  <li><u>Отправляем готовую базу Вам.</u></li>
  <li>Делаем email-рассылку Вашего предложения.</li>
</ul>

<p>Вашим менеджерам остается только набрать номер, поговорить c клиентом&nbsp;и внести соответствующий комментарий в таблице.</p>

<p><u>Это заметно ускоряет работу и сокращает денежные и временные издержки компании!</u></p>

<p><u>Преимущества</u>&nbsp;данного подхода:</p>

<ul>
  <li>Менеджер звонит клиенту, вместо занятия поиском.</li>
  <li>Менеджер делает больше звонков клиентам, вместо составления таблиц контактов вручную.</li>
  <li>Менеджер продаёт продукт/услугу, не тратя время на поиск клиентов.</li>
  <li><u>Менеджер получает больше времени на клиентов в канале продаж.</u></li>
  <li><u>Руководителю легче ставить задачи, и контролировать выполнение.</u></li>
</ul>

<p>Стоимость обсуждается индивидуально, зависит от количества интересующих Вас запросов и количества рассылок:</p>

<ul>
  <li>Яндекс: от 2 до 3 рублей.</li>
  <li>2гис: от 1 до 2 рублей.</li>
  <li>Instagram: от 3 до 5 рублей.</li>
</ul>

<p>Цены указаны за 1 контакт!</p>

<p>За подробной информацией звоните по телефону:&nbsp;<strong>+7(903)226-0-326&nbsp;</strong></p>

<p>P.S.: Спасибо, что прочли сообщение. Мы держим свое слово!</p>

<p>Вы можете выбрать один поисковый запрос, и мы предоставим до&nbsp;<u>500 контактов компаний Ваших потенциальных заказчиков абсолютно бесплатно.</u></p>

<p><u>Попробуйте и примите решение, на сколько Вам интересен наш новый продукт!</u></p>

<p>Заявки на пробную базу отправляйте на почту:&nbsp;<u>cold-base@konyhov.com</u></p>

<p>Остались вопросы?</p>

<p><u>Звоните:&nbsp;+7(903)226-0-326</u>&nbsp;</p>

<p><a href="http://konyhov.com" target="_blank">konyhov.com</a></p>

<p>&nbsp;</p>

<p>&nbsp;</p>
