<html>
 <body link="blue" vlink="red">
<p><strong>Здравствуйте! На связи Конюхов. Устали переплачивать за продвижение в интернете?</strong></p>

<p>Предлагаем выстроить работу следующим образом, Вы развёрнуто описываете:<br/>
- чего Вы хотите достичь<br />
- в чем суть Вашего товара/услуги/продукта и т.д.&nbsp;<br/>
- какие планы у Вас по развитию (рост ассортимента, расширение списка услуг, захват смежных сегментов для инфо-сайтов) на ближайшие полгода-год.&nbsp;<br/>
- есть офлайн точки и т.д.&nbsp;</p>

<p>Вы присылаете сайт - мы делаем оценку и обозначаем стоимость.</p>

<p><br/>
Коротко по ценам:</p>

<p>Меньше 25&nbsp;000 рублей за работу не берем (кроме landing page или разовых услуг).</p>

<p>Есть проекты, которые обсуждаются отдельно.&nbsp; Зависит от многих факторов:<br />
- регион (конкуренция)<br/>
- масштаб сайта<br/>
- ниша (конкуренция и сложность восприятия информации: в одежде легче разобраться, чем в инженерном оборудовании, к примеру).&nbsp;<br/>
- бюджеты и сроки.&nbsp;</p>

<p><br/>
По срокам - оптимально работаем 35-50 часов над 1 проектом в месяц. Для справки - ни одна&nbsp;seo-компания столько на проект не выделяет, потому и берем 25 000 рублей +, чтобы не брать кучу проектов.&nbsp;<br/>
Если нужно ускорить/растянуть сроки (из-за уменьшения цены) - обсуждаем.</p>

<p>Консультации по тел.:&nbsp;+7(903)226-03-26</p>

<p><a href="http://konyhov.com" target="_blank">konyhov.com</a></p>
</body>
</html>
